# Real NATS integration test env
NATS_SERVERS=nats://127.0.0.1:4222
NATS_USER=root
NATS_PASS=root
NATS_BROADCAST_SUBJECT=broadcast.{topic}.{channel}.{event}
NATS_UNICAST_SUBJECT=unicast.{nodeId}.{method}
